.logo {
  position: absolute;
  bottom: 0;
  right: 0;
  max-width: 150px;
} 

/* 
   Workaround for admonitions 
   to https://github.com/asciidoctor/asciidoctor-backends/issues/119 
   TODO : Propose a PR when more time (after the conf at least :-) 
*/
.title:after {
  content: ' : ';
  margin-right: 0.5em;
}

.title {
  text-transform: uppercase;
}

.todo {
	border: 2px solid red;
}

.todo:after {
   content: "TODO !";
   font-weight: 900;
   color: red;
}